

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




.restaurantBody{
	padding-bottom: 20px;
}

.restaurant-images{
	width: 200px;
	height: 200px;
}










